*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2{
    color: red;
}
section.up{
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 0px 0px;
}
div{
    border: solid 1px 1px black;
}
section.up{
    margin-top: 2rem;
}
section.left-right{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div.left{
    margin: 0px 75px 0px 0px;
}
button{
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
}
